*{
	box-sizing: border-box;
}
body{
	background-color:#e7ecef;
	font-family: 'Roboto', 'Open Sans', sans-serif;
	font-size: 24px;
}
.slider{
	margin: 0 auto;
	max-width: 600px;
}
.slider__inner { 
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
}
/*IMAGE SLIDER*/
.slides{
	margin: 20px 0px;
}
.slider__inner .slides_img{ 
	width: 20%;
	display: flex;
}
.slider__inner .image{ 
	width: 500%;
	line-height: 0;
}
.image{
	display: flex;
    align-items: center;
    align-content: center;  
}
.slides_img {
	display: flex;
	flex-direction: column;
	border-radius: 10px;
}
.slides_img img{ 
	width: 100%;
	aspect-ratio: 1 / 1;
	border-radius: 10px;
}
.slides_img div{
	margin-top: 20px;
}
input{ 
	display: none;
}
.slides .image{ 
	transition: all .7s ease-out;
}
#switch0:checked ~ .slides .image{
	margin-left: 0;
}
#switch1:checked ~ .slides .image{
	margin-left: -100%;
}
#switch2:checked ~ .slides .image{
	margin-left: -200%;
}
#switch3:checked ~ .slides .image{
	margin-left: -300%;
}
#switch4:checked ~ .slides .image{
	margin-left: -400%;
}
/*TEXT SLIDER*/
.slider_footer{
   display: flex;
   height: auto;
   justify-content:space-between;
}
.subtitles{
	overflow: hidden;
    width: 60%;
}
.subtitles_wrapper{
   display: flex;
   transition: all .9s ease-out;
   width: 500%;
}
.subtitles_inner{
	display: flex;
   	width: 500%;
}
.slides_text{
	width: 25%;
   text-align: start;	
}
#switch0:checked ~ .slider_footer .subtitles_wrapper{
	margin-left: 0;
}
#switch1:checked ~ .slider_footer .subtitles_wrapper{
	margin-left: -100%;
}
#switch2:checked ~ .slider_footer .subtitles_wrapper{
	margin-left: -200%;
}
#switch3:checked ~ .slider_footer .subtitles_wrapper{
	margin-left: -300%;
}
#switch4:checked ~ .slider_footer .subtitles_wrapper{
	margin-left: -400%;
}
/*LABEL*/
.active label{ 
	cursor: pointer;
	border-radius: 15px; 
	display: inline-block; 
	width: 15px;
	height: 15px;
	background: #274c77;
}
.active label:hover{ 
	background: #6096ba;	
}
.active label:active{
	background: #a3cef1;
}


/*ADAPTIVE*/
/*1280px <= width*/

/*768px <= width < 1280px*/
@media only screen
and (min-width: 768px)
and (max-width: 1279px){
body{
	font-size: 20px;
	}
.slider{
	max-width: 500px;
	}
}
/*320px <= width < 768px*/
@media only screen
and (min-width: 320px)
and (max-width: 767px){
body{
	font-size: 16px;
	}
.slider{
	max-width: 250px;		
}
.slider_footer{
	height: 40px;
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-between;
 }
 .subtitles{
    width: 100%;
}
 .active{
	 text-align: center;
 }
}










