*{
	box-sizing: border-box;
}
body{
	background-color:#e7ecef;
}
.slider{
	margin: 0 auto;
	max-width: 600px;
}
.slider__inner { 
    position: relative;
	text-align: center;
    top: 10px;
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
}
/*IMAGE SLIDER*/
.slides{
	margin: 20px 0px;
}
.slider__inner .slides_img{ 
	width: 20%;
	float: left;
}
.slider__inner .image{ 
	width: 500%;
	line-height: 0;
}
.image{
	display: flex;
    align-items: center;
    align-content: center;  
}
.slides_img {
	display: flex;
	flex-direction: column;
	border-radius: 10px;
}
.slides_img img{ 
	width: 100%;
	aspect-ratio: 1 / 1;
	border-radius: 10px;
}
.slides_img div{
	margin-top: 20px;
}
input{ 
	display: none;
}
#switch1:checked ~ .slides .image{
	margin-left: 0;
}
#switch2:checked ~ .slides .image{
	margin-left: -100%;
}
#switch3:checked ~ .slides .image{
	margin-left: -200%;
}
#switch4:checked ~ .slides .image{
	margin-left: -300%;
}
/*TEXT SLIDER*/
.slider__inner .slides_text{ 
	width: 20%;
	float: left;
	font-size:20px;
	color: #8b8c89;
}
.slider__inner .text{ 
	width: 500%;
	line-height: 0;
}
.text{
	display: flex;
    align-items: center;
    align-content: center; 
	transition: all .9s ease-out;
}
#switch1:checked ~ .text{
	margin-left: 0;
}
#switch2:checked ~ .text{
	margin-left: -100%;
}
#switch3:checked ~ .text{
	margin-left: -200%;
}
#switch4:checked ~ .text{
	margin-left: -300%;
}
/*LABEL*/
.active{ 
	text-align: center;
}
.active label{ 
	margin-top: 15px;
	cursor: pointer;
	border-radius: 15px; 
	display: inline-block; 
	width: 15px;
	height: 15px;
	background: #274c77;
}
.active label:hover{ 
	background: #6096ba;	
}
.active label:active{
	background: #a3cef1;
}

.slides .image{ 
	transition: all .7s ease-out;
}
/*ADAPTIVE*/
/*1280px <= width*/

/*768px <= width < 1280px*/
@media only screen
and (min-width: 768px)
and (max-width: 1279px){
.slider{
		max-width: 500px;
	}
.slider__inner .slides_text{ 
	font-size:16px;
	}
.active label{ 
		margin-top: 10px;
		border-radius: 10px; 
		width: 10px;
		height: 10px;
	}
}
/*320px <= width < 768px*/
@media only screen
and (min-width: 320px)
and (max-width: 767px){
.slider{
		max-width: 250px;
}
.slider__inner .slides_text{ 
	font-size:10px;
}
.active label{ 
	margin-top: 8px;
	border-radius: 8px; 
	width: 8px;
	height: 8px;
}
}










