.slider{
	margin: 0 auto;
	max-width: 600px;
}
.slider__inner { 
    position: relative;
	text-align: center;
    top: 10px;
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
}

.slider__inner .slides_img{ 
	width: 20%;
	float: left;
}
.slider__inner .image{ 
	width: 500%;
	line-height: 0;
}
.slides_img img{ 
	width: 100%;
}

input{ 
	display: none;
}
#switch1:checked ~ .slides .image{
	margin-left: 0;
}
#switch2:checked ~ .slides .image{
	margin-left: -100%;
}
#switch3:checked ~ .slides .image{
	margin-left: -200%;
}
#switch4:checked ~ .slides .image{
	margin-left: -300%;
}

.active{ 
	text-align: center;
}
.active label{ 
	margin-top: 15px;
	cursor: pointer;
	border-radius: 10px; 
	display: inline-block; 
	width: 15px;
	height: 15px;
	background: #bbb;
}
.active label:hover{ 
	background: #76c8ff;
	border-color: #777 !important;
}
#switch1:checked ~ .active label:nth-child(1),
#switch2:checked ~ .active label:nth-child(2),
#switch3:checked ~ .active label:nth-child(3),
#switch4:checked ~ .active label:nth-child(4),{
	background: #18a3dd;
	border-color: #18a3dd !important;
}
.slides .image{ 
	transition: all .8s ;
}

